{% load static %}

 <footer class="doc_footer_area">
            <div class="doc_footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="f_widget doc_about_widget wow fadeInUp" data-wow-delay="0.2s">
                                <a href="#">
                                    <img src="{% static 'img/moonlogo.png' %}" class="logo-dark" alt="" style="width: 40%;">
                                </a>
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="social_instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="f_widget doc_service_list_widget pl-30 wow fadeInUp" data-wow-delay="0.3s">
                                <h3 class="f_title_two">Hızlı Linkler</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#"><img src="{% static 'img/new/smile2.png' %}" alt="">Yardım</a></li>
                                    <li><a href="#"><img src="{% static 'img/new/doc2.png' %}" alt="">İletişim</a></li>
                                    <li><a href="#"><img src="{% static 'img/new/house2.png' %}" alt="">Gizlilik</a></li>
                                    <li><a href="#"><img src="{% static 'img/new/bag2.png' %}" alt="">Politikalar</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc_footer_bottom">
                <div class="container d-flex justify-content-between">
                    <p class="wow fadeInUp" data-wow-delay="0.3s">© 2024 Tüm Hakları Saklıdır
                        <span>Moon Brothers Roleplay</span>
                    </p>
                </div>
            </div>
        </footer>